body,
html {
    height: 100%;
    width: 100%;
    margin: 0;

}

* {
    box-sizing: border-box;
}

.headbar {
    height: 70%;
    width: 100%;
    background-image: linear-gradient(360deg, #11435759, #09a9ea00), url(../images/headimage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    width: 100%;
    height: 60px;
    background-color: linear-gradient(360deg, #11435759, #09a9ea00);
}

nav p {
    color: #fff;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 10px;
    float: left;
    padding: 10px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    float: right;
    list-style: none;
    position: relative;
    padding: 10px;
}

nav ul li a {
    color: #fff;
    font-family: sans-serif;
    font-size: 17px;
    padding: 10px 1px;
    text-decoration: none;
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #11435759;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 150px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 5px 10px;
}

nav ul li ul li a:hover {
    background-color: royalblue;
}



.headcenter h1 {
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    background-color: #09a9ea00;
    padding: 90px;
}

.font ul li {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #ba54f5;
    border-radius: 100%;
    margin: 0;

}

.font ul li a {
    line-height: 50px;
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.font ul li a:hover {
    background-color: yellowgreen;
    border-radius: 50%;
}

.buybtn {
    float: right;
    width: 100px;
    background-color: #263148;
    border-style: none;
    border-radius: 4px 4px 4px 4px;
}

.buybtn h3 {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #ffffff;
    font-weight: 400;
}

.seconddiv {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    background-color: #32325d;
    /* position: relative; */
}

.container {
    width: 80%;
    margin: auto;
    /* top: -85px; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* position: absolute; */
    overflow: auto;
}

.item {
    /* height: 460px; */
    width: 33.3%;
    float: left;
    padding: 20px;
}

.backpicfirst {
    height: 460px;
    width: 100%;
    background-image: url(../images/backpicfirst.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.backpicsecond {
    height: 460px;
    width: 100%;
    background-image: url(../images/backpicsecond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.backpicthird {
    height: 460px;
    width: 100%;
    background-image: url(../images/backpicthird.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.textitem {
    height: 460px;
    width: 33.3%;
    float: left;
    padding: 20px;
    overflow: auto;
}

.textfirst {
    position: relative;
    overflow: auto;
}

.textfirst h6 {
    color: #e14eca;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textfirst h3 {
    line-height: 27px;
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textfirst p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;

}

.textsecond h6 {
    color: #1d8cf8;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textsecond h3 {
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textsecond p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;

}

.textthird h6 {
    color: #ff8d72;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textthird h3 {
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textthird p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;
}

.roundpicf {
    height: 35px;
    width: 35px;
    background-image: url(../images/roundpicf.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxt h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.roundpics {
    height: 35px;
    width: 35px;
    background-image: url(../images/roundpics.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxts h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.roundpict {
    height: 35px;
    width: 35px;
    background-image: url(../images/roundpict.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxtth h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.smfontf {
    font-size: 20px;
    padding-top: 16px;
    padding-right: 2px;
    float: right;
    color: #525f7f;
    font-weight: 400;
}

.smtxtf h6 {
    color: #fff;
    float: right;
    padding-top: 20px;
    padding-left: 4px;
    color: #525f7f;
    font-weight: 400;
}

.smfonts {
    font-size: 20px;
    padding-top: 16px;
    padding-right: 2px;
    float: right;
    color: #525f7f;
    font-weight: 400;
}

.smtxts h6 {
    color: #525f7f;
    float: right;
    padding-top: 20px;
    padding-left: 4px;
    font-weight: 400;
}

.smfontth {
    font-size: 20px;
    padding-top: 16px;
    padding-right: 2px;
    float: right;
    color: #525f7f;
    font-weight: 400;
}

.smtxtth h6 {
    color: #fff;
    float: right;
    padding-top: 20px;
    padding-left: 4px;
    color: #525f7f;
    font-weight: 400;
}

.thirddiv {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    background-color: #32325d;
    /* position: relative; */
}

.containeritem {
    width: 80%;
    margin: auto;
    /* top: -85px; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* position: absolute; */
    overflow: auto;
}

.itemlist {
    /* height: 460px; */
    width: 33.3%;
    float: left;
    padding: 20px;
}

.frontpicfirst {
    height: 460px;
    width: 100%;
    background-image: url(../images/forntpicfirst.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.frontpicsecond {
    height: 460px;
    width: 100%;
    background-image: url(../images/frontpicsec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.frontpicthird {
    height: 460px;
    width: 100%;
    background-image: url(../images/frontpicth);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
}

.textitem {
    height: 460px;
    width: 33.3%;
    float: left;
    padding: 20px;
    overflow: auto;
}

.textfirst1 h6 {
    color: #1d8cf8;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textfirst1 h3 {
    line-height: 27px;
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textfirst1 p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;

}

.textsecond2 h6 {
    color: #00f2c3;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textsecond2 h3 {
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textsecond2 p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;

}

.textthird3 h6 {
    color: #fd5d93;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0;
    line-height: 14.4px;
    padding-top: 10px;
}

.textthird3 h3 {
    color: #e14eca;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 9px;
}

.textthird3 p {
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding-top: 15px;
}

.roundpicf1 {
    height: 35px;
    width: 35px;
    background-image: url(../images/circlepicf.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxt1 h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.roundpics2 {
    height: 35px;
    width: 35px;
    background-image: url(../images/circlepics.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxts2 h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.roundpict3 {
    height: 35px;
    width: 35px;
    background-image: url(../images/circlepict.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
}

.roundtxtth3 h6 {
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 4px;
}

.read {
    color: #e14eca;
}

.fourthdiv {
    /* height: 100%;*/
    width: 100%;
    background-color: #32325d;
    /* position: relative;*/
}

.containerimage {
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 0; */
    width: 80%;
    margin: auto;
    /* position: absolute; */
    overflow: auto;
}

.containerimage h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.imageleft {
    height: 560px;
    width: 30%;
    float: left;
    background-image: url(../images/bigimg1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}

.docleft {
    width: 60%;
    float: left;
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
}

.docleft h2 {
    color: #e14eca;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: none solid rgb(225, 78, 202);
    line-height: 29px;
}

.docleft p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.circlepic {
    height: 55px;
    width: 55px;
    background-image: url(../images/circlepict.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 50px;
    float: left;
}

.circlepictxt {
    float: left;
    margin-top: 50px;
    padding-left: 15px;
}

.circlepictxt h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top: 7px;
}

.circlepictxt h4 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    margin: 0;
}

.fifthdiv {
    /* height: 80%; */
    width: 100%;
    background-color: #32325d;
    position: relative;
}

.containerimg {
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 0; */
    width: 80%;
    margin: auto;
    /* position: absolute; */
    overflow: auto;
    padding-top: 40px;
}

.imageright {
    height: 470px;
    width: 30%;
    float: left;
    background-image: url(../images/backpicthird.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 5px 5px;
}

.docright {
    width: 60%;
    float: left;
    text-align: left;
    padding-top: 50px;
    padding-left: 60px;
}

.docright h2 {
    color: #e14eca;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: none solid rgb(225, 78, 202);
    line-height: 29px;
}

.docright p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.golpic {
    height: 55px;
    width: 55px;
    background-image: url(../images/circlepics.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-top: 50px;
    float: left;
}

.golpictxt {
    float: left;
    margin-top: 50px;
    padding-left: 15px;
}

.golpictxt h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-top: 7px;
}

.golpictxt h4 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    margin: 0;
}

.sixthdiv {
    /* height: 100%; */
    width: 100%;
    background-color: #32325d;
    position: relative;
    margin: 0;
    /* display: inline-block; */
}

.sixthdiv h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

.image {
    width: 100%;
    overflow: auto;
    margin: 0;
    padding-top: 50px;
}

.imagefirst {
    height: 465px;
    width: 25%;
    float: left;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .65)), url(../images/image3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    position: relative;

}

.imagesecond {
    height: 465px;
    width: 25%;
    float: left;
    background-image: linear-gradient(180deg, #0000000d, #33333330), url(../images/image1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    position: relative;
}

.imagethree {
    height: 465px;
    width: 25%;
    float: left;
    background-image: url(../images/image2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    position: relative;
}

.imagefour {
    height: 465px;
    width: 25%;
    float: left;
    background-image: url(../images/image4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    position: relative;

}

.imagefirst h3 {
    color: #fff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    left: 20px;
    bottom: 80px;
    position: absolute;
}

.imagefirst h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    left: 20px;
    bottom: 30px;
    position: absolute;
}

.imagesecond h3 {
    color: #fff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    left: 20px;
    bottom: 80px;
    position: absolute;
}

.imagesecond h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    left: 20px;
    bottom: 30px;
    position: absolute;
}

.imagethree h3 {
    color: #fff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    left: 20px;
    bottom: 80px;
    position: absolute;
}

.imagethree h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    left: 20px;
    bottom: 30px;
    position: absolute;
}

.imagefour h3 {
    color: #fff;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    left: 20px;
    bottom: 80px;
    position: absolute;
}

.imagefour h2 {
    color: #fff;
    font-size: 23px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    left: 20px;
    bottom: 30px;
    position: absolute;
}

.seventhdiv {
    /* height: 100%; */
    width: 100%;
    overflow: auto;
    margin: 0;
    top: 0;
    position: relative;
    background-color: #32325d;
}

.seventhdiv h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: normal;
    text-align: center;
    padding: 20px;
}

.containerphoto {
    width: 80%;
    margin: auto;
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* left: 0; */
    /* bottom: 0; */
    overflow: auto;
    padding-top: 50px;
}

.photo {
    width: 33.3%;
    margin: 0;
    float: left;
    padding: 20px;
}

.photofirst {
    height: 370px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/photo1.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 4px 4px;
}

.photosecond {
    height: 370px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/roundpict.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 4px 4px 4px 4px;
}

.photothree {
    height: 370px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/roundpics.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 4px 4px;
}

.textdocfirst {
    height: 205px;
    width: 100%;
    background-color: #32325d;
    margin: 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px #3236;
    overflow: auto;
}


.textdocsecond {
    height: 205px;
    width: 100%;
    background-color: #32325d;
    margin: 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px #3236;
    overflow: auto;
}

.textdocthree {
    height: 205px;
    width: 100%;
    background-color: #32325d;
    margin: 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px #3236;
    overflow: auto;
}

.line {
    float: right;
    height: 3px;
    width: 40px;
    background-color: #e14eca;
    margin-right: 8px;
    margin-top: 15px;
}

.textdocfirst h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
    padding-right: 8px;
    text-align: right;
}

.textdocsecond h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
    padding-right: 8px;
    text-align: right;
}

.textdocthree h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
    padding-right: 8px;
    text-align: right;
}

.leftsite {
    float: left;
    padding-top: 20px;
}

.rightsite {
    float: right;
    padding-top: 20px;
}

.timone {
    color: #e14eca;
    float: left;
    font-size: 20px;
    letter-spacing: normal;
    padding-left: 13px;
}

.timtwo {
    color: #e14eca;
    float: left;
    font-size: 20px;
    letter-spacing: normal;
    padding-left: 13px;
}

.timthree {
    color: #e14eca;
    float: left;
    font-size: 20px;
    letter-spacing: normal;
    padding-left: 13px;
}

.lefttext h4 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding: 3px;
}

.righttext h4 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding: 3px;
}

.righttext h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 3px;
}

.eighthdiv {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    background-color: #32325d;
}

.eighthdiv h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: normal;
    text-align: center;
    margin-top: 70px;
}

.box {
    width: 100%;
    overflow: auto;
    position: relative;
}

.fontawesome {
    width: 80%;
    overflow: auto;
    margin: auto;
    padding-top: 40px;
}

.social {
    float: left;
    width: 16%;
    border-right: 1px solid gray;
}

.icon {
    padding: 40px 70px;
    margin-left: 17px;
}

.fontone {
    color: #3ea1ec;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #3ea1ec;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.fontsec {
    color: #344777;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #344777;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.fontth {
    color: #d73925;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #d73925;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.fontfr {
    color: #ed679b;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ed679b;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.fontfv {
    color: #e84842;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #e84842;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.fontsx {
    color: #1667a3;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 1px solid #1667a3;
    border-radius: 4px 4px 4px 4px;
    padding: 30px 65px;
}

.ninethdiv {
    width: 100%;
    margin: 0;
    overflow: auto;
    position: relative;
    margin-top: 50px;
}

.texthead {
    width: 80%;
    margin-top: 50px;
    margin: auto;
}

.texthead h2 {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 650;
    letter-spacing: normal;
    padding-top: 50px;
}

.texthead p {
    color: #9a9a9a;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 100;
    letter-spacing: normal;
    margin: 0;
}

.tenthdiv {
    width: 70%;
    margin: auto;
    background-color: #344675;
    padding: 10px;
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
    margin-top: 80px;
}

.borderdiv {
    float: left;
    width: 70%;
}

.emailicon {
    color: #9a9a9a;
    padding: 0px 40px;
    border: 1px solid #9a9a9a;
    border-radius: 5px 5px 5px 5px;
}

.form-control {
    height: 49px;
    /* width: 100%; */
    color: #fff;
    background-color: #344675;
    border-style: none;
    padding-left: 10px;
}

.btn {
    float: left;
    /* padding-left: 19px; */
    width: 30%;
}

.Subscribe {
    color: #fff;
    background-color: #ba54f5;
    padding: 15px 77px 15px 77px;
    border-radius: 5px 5px 5px 5px;
}

.elevendiv {
    width: 100%;
    background-color: #32325d;
    overflow: auto;
    position: relative;
}

.documentory {
    width: 80%;
    margin: auto;
}

.documentory h1 {
    width: 25%;
    color: #fff;
    font-family: Poppins, sans-serif;
    float: left;
}

.elevendiv hr {
    background-color: #5e72e4;
    height: 3px;
    border-style: none;
}

.documentlistf {
    color: #fff;
    float: left;
    list-style: none;
}

.documentf {
    float: left;
    list-style: none;
    width: 25%;
}

.documentf h3 {
    color: #fff;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

.documents {
    float: left;
    list-style: none;
    width: 25%;
}

.documents h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.documenticon {
    float: left;
}

.documenticon h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-left: 50px;

}

.docicon {
    color: #fff;

}

.dociconf {
    color: #fff;
    float: left;
    list-style: none;
    padding: 5px 10px;
}

.docicons {
    color: #fff;
    float: left;
    list-style: none;
    padding: 5px 10px;
}

.dociconth {
    color: #fff;
    float: left;
    list-style: none;
    padding: 5px 10px;
}

.fone {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.ftwo {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

.fth {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}
